html, body, header  {
    padding: 0px;
    margin: 0px;
}

p, h1 {
    font-family: Arial, sans-serif;
}

header {
    overflow: hidden;
    background-color: steelblue;
    text-align: center;
    border-bottom: 2px solid black;
}

header h1 {
    color: white;
    font-size: 50px;
    margin: 0px;
    -webkit-text-stroke: 1.5px black;
}

#overlayViewButton {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 50px;
    height: 35px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    line-height: 20px;
    width: 20px;
    text-align: center;
    background-color: white;
    color: red;
    font-weight: 700;
    font-family: Arial, sans-serif;
    border: 1px solid black;
    border-radius: 15px;
}

#entryOverlay {
    border: 2px solid black;
    width: 500px;
    height: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: auto;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.entryFormInputs a {
    float: right;
    position: relative;
    top: -15px;
    right: -5px;
}

.entryFormRow {
    margin: 5px 5px 10px 5px;
}

.entryFormRow:last-child {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.entryFormRow p, input {
    display: inline;
}

.entryFormRow p {
    margin-right: 15px;
}

.entryFormRow input { /* Messy, only needed on the first input field (firstName) */
    margin-right: 40px;
}

.entryFormButtonGroup {
    text-align: center;
}

.entryFormButtonGroup button {
    font-size: 15px;
}

.entryFormButtonGroup #randomizeButton {
    position: relative;
    right: -150px;
    height: 35px;
}

.entryFormButtonGroup #submitButton {
    height: 35px;
    width: 100px;
}

.employeeCard {
    display: inline-block;
    margin: 1em;
    border: 2px solid black;
    background-color: lavender;
}

.employeeCardHeader p {
    display: inline;
}

.employeeCardHeader {
    background-color: dodgerblue;
    border-bottom: 1px solid black;
    padding: 5px;
}

.employeeCardHeader .employeeName {
    font-size: 25px;
    font-weight: 700;
    color: honeydew;
}

.employeeCardHeader .employeeId {
    padding-left: 40px;
    padding-right: 15px;
    color: dimgray;
}

